<h2>User profile</h2>


<%= form_for @user, url: step4_signup_index_path, method: :get do |f| %>


  <%= f.fields_for :profile do |p| %>

    <div class="field">
      <%= p.label :お名前 %> <br />
      <%= p.text_field :family_name, autofocus: true %><br />
      <%= p.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= p.label :お名前カナ %> <br />
      <%= p.text_field :family_name_kana, autofocus: true %><br />
      <%= p.text_field :first_name_kana, autofocus: true %>
    </div>

  <% end %>


  <%= f.fields_for :address do |a| %>

    <div class="field">
      <%= a.label :郵便番号 %><br />
      <%= a.text_field :postal_code %>
    </div>

    <div class="field">
      <%= a.label :都道府県 %><br />
      <%= a.text_field :prefecture %>
    </div>

    <div class="field">
      <%= a.label :市区町村 %><br />
      <%= a.text_field :city %>
    </div>

    <div class="field">
      <%= a.label :番地 %><br />
      <%= a.text_field :block %>
    </div>


    <div class="field">
      <%= a.label :建物 %><br />
      <%= a.text_field :building %>
    </div>

  <% end %>


  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>