%h2 User profile
= form_for @user, url: step5_signup_index_path, method: :get do |f|
  = f.fields_for :profile do |p|
    .field
      = p.label :お名前
      %br/
      = p.text_field :family_name, autofocus: true
      %br/
      = p.text_field :first_name, autofocus: true
    .field
      = p.label :お名前カナ
      %br/
      = p.text_field :family_name_kana, autofocus: true
      %br/
      = p.text_field :first_name_kana, autofocus: true
  = f.fields_for :address do |a|
    .field
      = a.label :郵便番号
      %br/
      = a.text_field :postal_code
    .field
      = a.label :都道府県
      %br/
      = a.text_field :prefecture
    .field
      = a.label :市区町村
      %br/
      = a.text_field :city
    .field
      = a.label :番地
      %br/
      = a.text_field :block
    .field
      = a.label :建物
      %br/
      = a.text_field :building
  = f.fields_for :profile do |p|
    .field
      = p.label :電話
      %br/
      = p.text_field :phone_number    
  .actions
    = f.submit "次へ"
