%h2 支払い方法
= form_for @user,  builder: CustomFormBuilder, url: signup_index_path, method: :post do |f|
  = f.fields_for :credit_card do |c|
    .field
      = c.label :カード番号
      %br/
      = c.text_field :number, autofocus: true
    .field
      = c.label :有効期限
      %br/
      = c.text_field :expiration_date_month, placeholder: "月"
      %br/
      = c.text_field :expiration_date_year, placeholder: "年"
      %br/
    .field
      = c.label :セキュリティコード
      %br/
      = c.text_field :security_code
  .actions
    = f.submit "登録"
