.header
  .inner
    .upper
      %h1.upper__left
        .upper__left__title
          = link_to root_path do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983", size: "134x36"
      = form_tag "/products/search", method: :get ,class:"upper__right" do
        %input{type: "search", class:"form", placeholder:"何かお探しですか？",name:"keyword"}
        %button{type: "submit", class:"mask" }
          = fa_icon "search", class: "mask__search"
    .lower
      %ul.lower__left
        =link_to "", class: "option" do
          %h2
            = fa_icon "list", class: "option__icon"
            %span カテゴリーから探す
        =link_to "", class: "option" do
          %h2
            = fa_icon "tags", class: "option__icon"
            %span ブランドから探す
      .lower__right
        %ul.user-nav
          =link_to "", class: "user-nav__menu" do
            = fa_icon "heart", class: "user-nav__menu__icon"
            %span いいね！一覧
          =link_to "", class: "user-nav__menu" do
            = fa_icon "bell", class: "user-nav__menu__icon"
            %span お知らせ
          =link_to "", class: "user-nav__menu" do
            = fa_icon "check", class: "user-nav__menu__icon"
            %span やることリスト
          =link_to profile_mypages_path, class: "user-nav__menu" do
            = fa_icon "edit", class: "user-nav__menu__icon"
            %span マイページ
