.wrapper
  = render 'shared/header'
  = render 'shared/exhibit-btn' 
  -# 以下の2行はパンくずリストを表示させるコード
  - breadcrumb :logout_mypages
  = render "shared/breadcrumbs"
  .wrapper-mypage
    .container-mypage
      = render partial:"shared/sidebar"
      .logout-content
        .logout-content__chapter
          %form.logout-content__chapter__form
            .logout-content__chapter__form__btn
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-content__chapter__form__btn__red' 