.user-devise-container
  .devise-header
    %h1.devise-header__logo
      = link_to do
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313", alt: "mercari", class: "mercari-logo"
  .login-main
    .login-panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .login-form-inner
        = link_to user_facebook_omniauth_authorize_path, class: "facebook-login contents__btn contents__btn__facebook", method: :post do
          %i.fab.fa-facebook
          .content-box Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-login contents__btn contents__btn__google" do
          %i.fab.fab.fa-google
          .content-box Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form-inner
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'login_field'
          .field
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'login_field'
          .actions
            = f.submit "ログイン", class: 'login_btn'
            = link_to "パスワードをお忘れの方へ", new_password_path(resource_name), class: 'forgot-password'
  .devise-footer
    .devise-footer__content
      %nav.devise-footer__content__nav
        = link_to 'プライバシーポリシー', '#'
        = link_to 'メルカリ利用規約', '#'
        = link_to '特定商取引に関する表記', '#'
      = link_to "#", class: 'devise-footer__content__link' do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?863303983', alt: 'logo', class: 'devise-header__content__link__image', height: '65', width: '80'
      .devise-footer__content__copyright
        %small &copy; 2019 Mercari