-# %section.product
= link_to  product_path(product.id),data: {"turbolinks": false}, class: "product" do
  %figure.product__photo
    = image_tag("#{product.product_images.last.image_url}", size: "213x220")

  .product__body
    %h3.product__body__name
      = product.name
    .product__body__num
      .price
      = "¥ #{product.price}"