.user_wrapper.clearfix
  %h2= "#{@user.name} 's Page"
  %section.user_info
    - if @user.image.attached?
      = image_tag @user.image.variant(resize:'256x256').processed
    - else
      = image_tag "person.png"
    = content_tag(:span, "#{@user.name}'s Page'", class: 'user-name')
  .stats
    %strong#following.stat
      = @user.following.count
    %span.moji Following
    %strong.stat{:id => "user-#{@user.id}-followers"}
      = @user.followers.count
    %span.moji Followers
  - if @user == current_user
    .edit-link= link_to 'Edit Profile', edit_user_path(@user), class: "waves-effect waves-light btn #00bcd4 cyan"
  .follow{:id => "user-#{@user.id}"}
    = render partial: "follow", locals: {user: @user}
