.wrapper
  = render 'shared/header'
  = render 'shared/exhibit-btn'
  .main
    .slide
    .products-container
      %h2.products-container__head
        %span ピックアップカテゴリー
      .products-container__content
        .products-container__content__head
          = "#{Category.find(1).name}新着アイテム"
        .products-container__content__box#ladies
          = render partial: "product", collection: @products_ladies
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(200).name}新着アイテム"
        .products-container__content__box#mens
          = render partial: "product", collection: @products_mens
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(346).name}新着アイテム"
        .products-container__content__box#kids
          = render partial: "product", collection: @products_kids
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(481).name}新着アイテム"
        .products-container__content__box#interior
          = render partial: "product", collection: @products_interior
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(623).name}新着アイテム"
        .products-container__content__box#entertainment
          = render partial: "product", collection: @products_hobby
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(682).name}新着アイテム"
        .products-container__content__box#hobby
          = render partial: "product", collection: @products_toy
        .products-container__content__view-all
          = link_to "すべての商品を見る"
        
        .products-container__content__head
          = "#{Category.find(795).name}新着アイテム"
        .products-container__content__box#cosmetic
          = render partial: "product", collection: @products_cosmetic
        .products-container__content__view-all
          = link_to "すべての商品を見る"

        .products-container__content__head
          = "#{Category.find(895).name}新着アイテム"
        .products-container__content__box#electric
          = render partial: "product", collection: @products_electric
        .products-container__content__view-all
          = link_to "すべての商品を見る"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
        -# = render partial: .products-container__content__box"
  = render 'shared/footer' 