.wrapper
  = render 'shared/header'
  = render 'shared/exhibit-btn'
  .main
    .slide
    .products-container
      %h2.products-container__head
        %span 商品一覧
      .products-container__content
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
  = render 'shared/footer' 