.wrapper
  =link_to 'ログアウト(後で消します!)', destroy_user_session_path, method: :delete #後で消します!
  = render 'shared/header'
  = render 'shared/exhibit-btn'
  .main
    .slide
    .products-container
      %h2.products-container__head
        %span 商品一覧
      .products-container__content
        -#ここから切り出した方がいい
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"
        = render partial: "products-box"

        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# = render partial: "products-box", collection: @products
        -# @productにproductテーブルの最新のデータ4件を
  = render 'shared/footer' 