.wrapper
  = render 'shared/header'
  = render 'shared/exhibit-btn'
  .main
    .app-upper-baner
      .app-upper-baner__content
        .app-upper-baner__content__inner
          .app-upper-baner__content__inner__text 
            %h2 
              スマホでかんたん
              %br 
              フリマアプリ
            %p  
              メルカリはスマホカメラからすぐに出品できる
              %br 
              購入時も安心な独自システムのアプリです
          %ul.middle
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?206587138", size: "170x50"), "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8",target: "_blank"
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?206587138", size: "170x50"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",target: "_blank"
        .app-upper-baner__content__app
          = image_tag "///www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3125985667",id:"sp",height: "390px"
    
    .products-container
      %h2.products-container__head
        %span 商品一覧
      .products-container__content
        .products-box#ladies
          = render partial: "product", collection: @products_ladies
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#mens
          = render partial: "product", collection: @products_mens
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#kids
          = render partial: "product", collection: @products_kids
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#inteior
          = render partial: "product", collection: @products_interior
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#entertainment
          = render partial: "product", collection: @products_hobby
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#hobby
          = render partial: "product", collection: @products_toy
        .products-view-all
          = link_to "すべての商品を見る"
        
        .products-box#cosmetic
          = render partial: "product", collection: @products_cosmetic
        .products-view-all
          = link_to "すべての商品を見る"

        .products-box#electric
          = render partial: "product", collection: @products_electric
        .products-view-all
          = link_to "すべての商品を見る"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
        -# = render partial: "products-box"
  = render 'shared/footer' 