= render 'shared/header'

-if @products && @search_keywords != ""
  %p.something-search-result
    = "#{@search_keywords}" 
    の検索結果

-if @products == [] && @search_keywords
  %p.nothing-search-result
    = "#{@search_keywords}" 
    に該当する商品はありませんでした。

-if @products && @search_keywords == ""
  %p.nil-keyword-search-result
    新着商品

.search-main
  .search-products-container
    -@products.each do |product|
      .products-container__content__box
        = render partial: "product", locals: { product: product } 
        
= render 'shared/footer'
