.product-show
  .contents.clearfix
    %h1.product-name
      = @product.name
    .main
      = image_tag("#{@product.product_images.first.image_url}", class: "main__image__size")
      %table.main__ditail__table
        %tbody
          %tr
            %th 出品者
            %td 
              = @product.user.nickname
          %tr
            %th カテゴリー
            %td
              = @product.category.name
          %tr
            %th ブランド
            %td 
              = @product.brand_name
          %tr
            %th 商品の状態
            %td 
              = @product.quality
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =@product.delivery_origin
          %tr
            %th 発送日の目安
            %td 1~2日で発送
      .sub-image
        - @product.product_images.drop(1).each do |n|
          = image_tag "#{n.image_url}",class:"sub-image__size"

    .price__and__button
      .price
        %span.price__figure
          =@product.price
        %span.price__tax (税込)
        %span.price__shipping__fee 送料込み
      .button
        %button{type: "submit", class: "button__btn"}
          %span 購入画面に進む
    .description.clearfix
      %p.description__inner
        =@product.description

      
    %button.comment__form__submit__btn#modal-open-btn この商品を削除する
    = link_to "", product_path, method: :delete, id: 'item-delete-btn'
    #overlay
      #modalWindow
        .modal-message-box
          %div 確認
          %div 本当に削除しますか？
        %button#modal-close-btn キャンセル
        %button#delete-comformation-btn 削除する

    .comment
      .comment__boby
        .comment__form.clearfix
          %form.comment__form
            %textarea{type: "text", class: "comment__form__textarea"}
          %button{type: "submit", class: "comment__form__submit__btn"}
            %span コメントする

    .product-space

    .sns__box.clearfix
      %ul{class: "sns__box__btns"}
        %li
        =link_to "" ,{class: "sns__box__facebook"} do
          %i.fab.fa-facebook.fa-2x
        %li
        =link_to "" ,{class: "sns__box__Twitter"} do
          %i.fab.fa-twitter.fa-2x
        %li
        =link_to "" ,{class: "sns__box__LINE"} do
          %i.fab.fa-line.fa-2x
          
    .product-space

