= render 'shared/header'
.product-show
  .contents.clearfix
    %h1.product-name
      = @product.name
    .main
      = image_tag("#{@product.product_images.last.image_url}", class:"main__image__size")
      %table.main__detail__table

        %tbody
          %tr
            %th 出品者
            %td 
              = @product.user.nickname
          %tr
            %th カテゴリー
            %td
              = @product.category.name
          -#見た目の便宜上一旦コメントアウト
          -# %tr
          -#   %th ブランド
          -#   %td 
          -#     = @product.brand_name

          %tr
            %th 商品の状態
            %td 
              = @product.quality
          %tr
            %th 配送料の負担
            %td
              =@product.delivery_cost
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =@product.delivery_origin
          %tr
            %th 発送日の目安
            %td 
              =@product.prep_days
      .sub-image
        - @product.product_images.drop(1).each do |n|
          = image_tag "#{n.image_url}",class:"sub-image__size"

    .price__and__button
      .price
        %span.price__figure
          = "¥ #{@product.price}"
        %span.price__tax (税込)
        %span.price__shipping__fee 送料込み

    - if @product.status == "sell"
      - if (user_signed_in? && @product.user_id == current_user.id)
        = link_to edit_product_path(@product.id), class: "edit-btn" do
          編集画面へ進む
        %button.delete-product-btn#modal-open-btn この商品を削除する
        = link_to "", product_path(@product.id), method: :delete
        #overlay
          #modalWindow
            .modal-message-box
              %div 確認
              %div 本当に削除しますか？
            %button#modal-close-btn キャンセル
            %button#delete-comformation-btn 削除する
      - else
        = link_to confirm_product_path(@product), class: "buy-btn" do
          購入画面へ進む      

    - else
      = link_to root_path, class: "soldout-btn" do
        売り切れです

    .description.clearfix
      %p.description__inner
        =@product.description


    .comment
      .comment__boby
        .comment__form.clearfix
          %form.comment__form
            %textarea{type: "text", class: "comment__form__textarea"}
          %button{type: "submit", class: "comment__form__submit__btn"}
            %span コメントする

    .product-space

    .sns__box.clearfix
      %ul.sns__box__btns
        %li
        =link_to "" ,{class: "sns__box__btns__facebook"} do
          %i.fab.fa-facebook.fa-2x
        %li
        =link_to "" ,{class: "sns__box__btns__Twitter"} do
          %i.fab.fa-twitter.fa-2x
        %li
        =link_to "" ,{class: "sns__box__btns__LINE"} do
          %i.fab.fa-line.fa-2x
          
    .product-space

= render 'shared/footer' 